/***GENERAL: COLORS & FONTS***/

/* colours:
#699926; //oliviges gruen (alt)
#2FA803; //oliviges gruen (monochromatisch zu dunklem)
#258203; //dunkles oliviges gruen

#BF00C9; //helleres lila
#7C0082; //dunkleres lila


#ED8524; //orange
#0080ff ; // mittleres blau

von ute:
#4F7302 olive gruen
#A9BF04 helles gruen
#F29F05 helles orange
#D96704 dunkles orange
#D29b04 rot

#465902 dunkles olive gruen
#4F7302 olive gruen
#59A8D9 blau
#F26BE9 rosa
#D95FC5 dunkles rosa

*/

html {
  font-size: 10px;
  width: 100%;
  height: 100%; }

body {
  font-family: Muli, sans-serif;
  font-size: 1.8rem;
  position: relative;
  color: white;
  background-color: #2FA803; /*oliviges gruen*/
  width: 100%;
  height: 100%; }


body.background{
    background-color: #2FA803; /*oliviges gruen*/
}

a {
  text-decoration: none;
}

img{
  max-width:100%;
  max-height:100%;
}

main {
  padding-top: 6rem;
  position: relative; }

@media only screen and (max-width: 850px) {
  main {
    top: 0rem; } }

@media only screen and (max-width: 850px) {
  #hidden_mobile {
    display: none; } }

@media only screen and (min-width: 850px) {
  #hidden_desktop {
    display: none; } }

/*h1 und h2 = (sub)titles*/
h1, h2 {
  color: white;
  align: center;
  text-align: center;
  text-shadow: -1px -1px 0 #1b5764, 1px -1px 0 #1b5764, -1px 1px 0 #1b5764, 1px 1px 0 #1b5764;
  }

h1 {
  font-size: 5rem;
  padding: 2rem 2rem 3rem 2rem;
  font-family: 'Pacifico', cursive;
  }

h2{
  font-size: 3rem;
}

/*aller andere text */
p, ul, li{
  font-size: 2rem;
  line-height: 1.25;
  color: white;
}

a.bunt{
    color: #FFDD1F; /*sattes gelb*/
}

/* aufm smartphone aber kleiner*/
@media only screen and (max-width: 850px) {

    h1 {
      font-size: 3rem;
      padding: 1rem 1rem 1rem 1rem;
      font-family: 'Pacifico', cursive;
      }

    h2{
      font-size: 1.8rem;
    }

    p, ul, li{
      font-size: 1.5rem;
      line-height: 1.1;
      color: white;
    }
}

/*** GENERAL: NAVIGATION ***/
nav a {
  display: block;
  background-color: #59A8D9; /*blau*/
  color: white;
  font-weight: bold;
  width: auto;
  height: 2rem;
  padding: 2.1rem 1rem;
  margin: 0;
  text-shadow: -1px -1px 0 #1b5764, 1px -1px 0 #1b5764, -1px 1px 0 #1b5764, 1px 1px 0 #1b5764; }
  nav a:hover {
    background-color: #F26BE9; } /* rosa*/

nav li {
  list-style: none;
  float: left; }

nav li a {
    text-align: center; }

nav li li {
    float: none; }

nav li li a {
      text-align: left;
      list-style: none;
      padding: 1rem; }

nav ul ul {
  display: none;
  position: absolute;
  z-index: 999; }

.with-dots {
  padding: 2rem;
  list-style-type: circle;
}

li {
  grid-gap: 1.75em;
  align-items: start;
  line-height: 1.5;
}

@media only screen and (max-width: 850px) {
  i { /* a ?!?!?! */
    padding: 1rem;
    padding-right: 2rem;
    color: white;
    cursor: pointer; }

  nav li {
    float: none; }

  .menu_items {
    position: absolute;
    right: 0rem; }

  .hidden {
    display: none; } }

/*** HEADER ***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #59A8D9;/*blau*/
  height: 6rem;  /* das hier bestimmt die hoehe der anderen nav elemente */
  position: fixed;
  width: 100%;
  z-index: 20;
  }


header .logo {
  font-family: 'Pacifico', cursive;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 4rem;
    height: 3rem;
    padding: 3rem 2rem 2rem 2rem;
    margin: 0;
    margin-bottom: 2rem;
    background-color: #D95FC5; /* dunkles rosa*/
    text-shadow: -2px -2px 0 #7C0082, 2px -2px 0 #7C0082, -2px 2px 0 #7C0082, 2px 2px 0 #7C0082;
    }

@media only screen and (max-width: 850px) {
  header {
    height: 4rem;
    border-bottom: 1px solid #38B0CC; }
    header .logo {
      padding: 2.7rem 1rem 1rem 1rem;
      font-size: 3rem; } }

.bold{
    font-weight: bold;
}

.boldAndPadding{
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.padding{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* tool tip*/

.tooltip {
  position: relative;
}
.tooltip span {
  visibility: hidden;
  width: 10em;
  background-color: #ED8524; /*orange*/
  color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 5px 0;
  position: absolute;
  z-index: 9;
  top: -1em;
  left:  100%;
  margin-left:1em;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip span::after {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip input {
  display:none;
}
.tooltip input:hover+span {
  visibility: visible;
  opacity: 1;
}

/* input */

.form-input-field {
  background-color: #fff;
  font-size: 2rem;
  text-align: start;
  border-radius: 1rem;
  width: 90%;
  padding: 0.8rem 0rem;
  margin: 2rem 1.6rem;
  border: 1px solid white;

}

/* buttons */
.box a.button, .form-submit-button{
       color: white;
       font-size: 3rem;
       text-align: center;
       border-radius: 1rem;
       width: 90%;
       padding: 0.8rem 0rem;
       margin: 2rem 1.6rem;
       border: 1px solid white;
       }

.orange-button{
       background-color: #F59200; /*orange*/
      }

.red-button{
       background-color: #FF001F; /*red*/
      }

.lila-button{
       background-color: #BF00C9; /*lila*/
      }

.blue-button{
       background-color: #0A82FC; /*blau*/
      }

.box a.button:hover, .form-submit-button:hover {
    cursor: pointer;
    color: #fff;
}

.red-button:hover {
    background: #CD001F; /*dunkles rot*/
}

.lila-button:hover {
    background: #7C0082; /*dunkles lila*/
}

.blue-button:hover{
       background-color: #0865C2; /*dunkles blau*/
      }

.orange-button:hover{
       background-color: #C27400; /*dunkles orange*/
      }

input#saveButton.form-submit-button{
       background-color: grey;
}

input#saveButton.form-submit-button:hover{
        cursor: auto;
}

input#saveButton.form-submit-button:focus{
        background-color: #D6BA1A;
        color: white;
}

.form-input-field-error{
    color: red;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#errormsg{
    display: none;
    background: red;
}


.background{
    background-color: #945313;
    border-radius: 1rem;
    }

/* BOXES */

.box {
  display: flex;
  flex-direction: row;
  justify-content: center; /*default*/
  align-items: stretch; /*default*/
  background-color: #2FA803; /*oliviges gruen*/
  padding: 2rem;
  }

.box-25, .box-50, .box-75, .box-80, .box-90, .box-100, .box-info, .text-unten {
    background-color: #258203; /*dunkles oliviges gruen*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid white;
    }

.box-50 {
    align-items: center;
    }

.box-info {
    width: 50%;
    justify-content: start;
    }

.box-25{
    width: 25%;
    }

.box-50{
    width: 50%;
    }

.box-75 {
    width: 75%;
    }

.box-90 {
    width: 90%;
    }

.box-100 {
    width: 100%;
    }

.text-unten{
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
}

.map {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    }

#map{
     width: 100%;
     height: 100%;
     margin: 0%;
     border-radius: 1rem;
}

@media only screen and (max-width: 850px) {

    .box {
        flex-direction: column;
        padding: 0.5rem;
      }

    .box-info, .box-25, .box-50, .box-75, .box-80 {
        width: 80%;
        justify-content: start;
        }

    .text-unten{
        width: 80%;
    }

    .map {
        height: 40rem;
        }
}

a.color {
    color: #FFDD1F; /*sattes gelb*/
    }

/*fuers handy anpassen */
@media only screen and (max-width: 850px) {

}


/*CONTACT*/

.container_contact div{
  padding: 1rem 0;
   text-align: center;
  }




/*** PRESSE ***/


.container_media_padding img, .container_media_100 img{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  }

.container_media_padding {
  padding: 3.2rem 2.4rem;
  }

.container_media_corners img{
  border-radius: 1rem;
  }

.container_media_100 {
  padding: 10 rem;
  width: 100%;
  }

.container_main_60 {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1rem;
  width: 60%;
  }

.container_presse {
  display: flex;
  justify-content: center;
  background-color: #ff8000;   /* orange */
  color: white;
  }

.container_presse .title {
  text-align: center;
  text-shadow: 5px 5px black;  /* schwarz */
  padding: 1rem 0;
  }

.container_presse .title_dunkel {
  text-align: center;
  text-shadow: 5px 5px #08088A;  /* noch dunkleres blau */
  padding: 1rem 0;
  }


.container_presse .container_main_60 p{
    margin: 0 2rem;
    text-align: justify;
    font-size: 2rem;
    }

.container_presse .container_main_60 a {
  background-color: transparent ;
   color: #FFDD1F; /*sattes gelb*/
   font-weight: bold;
   font-size: 1.8rem;
   text-align: center;
   border-radius: 1rem;
   padding: 0;
   margin: 0;
  }

.container_presse p {
  font-size: 1.2rem;
  }

.container_presse h2 {
  margin: 0 2rem;
  }

.lila_hintergrund {
  background-color: #7C0082;   /* lila */
  }

.hellgruener_hintergrund {
  background-color: #2FA803;   /* helles oliviges gruen */
  }

.gruener_hintergrund {
  background-color: #258203;   /* dunkles oliviges gruen */
  }

.dunkelblauer_hintergrund {
  background-color: #0080ff;   /* hellblauer */
  }

.blauer_hintergrund {
  background-color: #59A8D9;   /* hellblauer */
  }

.rosaner_hintergrund {
  background-color: #D95FC5;   /* rosa */
  }

.gelber_hintergrund {
  background-color: #FFDD1F;   /* gelb */
  }

.oranger_hintergrund {
  background-color: #D29b04;   /* orange */
  }

.roter_hintergrund {
  background-color: #CD001F;   /* rot */
  }

@media only screen and (max-width: 700px) {
  .container_presse h1,
  .container_presse h2,
  .container_presse h5,
  .container_presse a{
    margin: 1rem 1.6rem;
    }

.container_presse .container_main_60 p {
  font-size: 1.5rem;
  }

  .container_presse {
    flex-direction: column;
    }

  .container_presse .container_main_60 .container_media_padding {
      padding: 0rem 1rem 0rem 1rem;
    }

  .container_main_60 {
    width: 100%;
    }
  }

.galerie_text{
    padding-top: 1rem;
    align: center;
    text-align: center;
}

.galerie_box {
  padding: 0.2rem 0.4rem;
  }