<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body class="background">

<div class="navigation"></div>

<main>

    <h1> Aktionen</h1>
    <h2>Hier könnt ihr nachlesen, was wir bisher an Aktionen gemacht haben oder was über uns berichtet wurde.</h2>
    <br>

    <!--************** Aktionen **************************************************-->

    <section class="container_presse blauer_hintergrund">
        <h1 class="title_dunkel"> April 2022 </h1>

        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/bluehFest.png">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/bluehFestm.png">
            </div>

            <h2>Roßdorf blüht auf - Blühfest am 3. April</h2>
            <br>
            <p>
                Unser Blühfest fand bei strahlendem Sonnenschein, blauem Himmel und eiskalten Temperaturen statt. Um
                Punkt 12:00 schmückten sieben fleißige Helferbienchen die Bäume auf dem Rathausplatz: die Stämme wurden
                mit kunterbunten meterlangen Strickschals eingewickelt und über 100 gehäkelte Bienen und Schmetterlinge
                hingen an den Ästen.
                <br>
                Rund um den zentralen, bunt geschmückten Baum lagen gerettete Kräuterpflanzen und Frühlingsblumen von
                foodsharing, welche die grauen Schottersteine um den Baum begrünten.
                Auf dem Außenmäuerchen des Platzes standen unsere Saatgut Automaten Florentina und Florian, gemeinsam
                mit den liebevoll gestalteten Blühkisten der Rehbergschule. Zwischendrin luden ein paar bunte Sitzkissen
                die Besucher zum Verweilen ein.
                <br>
                Pünktlich um 14 Uhr füllte sich der Platz mit vielen kleinen und großen BesucherInnen, die teilweise
                sogar aus dem Umland angereist kamen. Sie schienen begeistert über die süßen Häkelbienen und
                einzigartigen Schmetterlinge, die überall herumflatterten. Die Bienchen waren größtenteils vom
                Strickkreis und weiteren geschickten HandwerkerInnen angefertigt worden. Eine junge Frau kam an unseren
                Stand und brachte während des Festes Nachschub: Sie hatte unseren Aufruf im RAZ zu dieser Aktion gelesen
                und brachte 15 Häkelbienchen mit.
                <br>
                Viele der Häkelbienen fanden an diesem Nachmittag ein neues Zuhause. Die Spenden, die damit eingenommen
                wurden werden den Ukrainischen Flüchtlingen sowie dem Artenschutz in Roßdorf zu Gute kommen.
                Anwesend waren außerdem der Strickkreis, das Ehrenamt, die Imkerin, der NABU, das BHZ, das Repaircafe
                und auch der Schoppeschlepper, der noch zwei weitere Monate umsonst in Roßdorf ausgeliehen werden kann.
                <br>
                Wir danken allen HelferInnen, die uns beim Auf- und Abbau und auf dem Fest unterstützt haben, sowie
                allen MitmacherInnen, welche die anderen Stände betreut haben, Häkelwerke angefertigt haben und Zeit und
                Mühe in unser Blühfest investiert haben! Danke auch an Ulrike
                Lukasczyk für die schönen Fotos. <a class="bunt" target="_blank" href="https://ulliluke.myportfolio.com/">Hier</a> gibt es noch mehr
                von ihr und <a class="bunt" href="/galerie"> hier </a> noch mehr vom Blühfest.
                <br>
                <br>
            </p>

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/Blühaktion_Plakat.png">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/Blühaktion_Plakat_m.png">
            </div>
        </div>
    </section>

    <!--****************************************************************-->

    <section class="container_presse lila_hintergrund">
        <h1 class="title_dunkel"> Oktober 2021 </h1>

        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/automat2.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/automat2m.jpg">
            </div>

            <h2>Unser neuer Blumenzwiebel-Automat Florian
            </h2>
            <br>
            <p>
                Hallo, ich möchte mich gerne vorstellen. Ich bin Florian, ein Blumenzwiebel-Automat.
                <br>
                <br>
                In meinem Bauch
                trage ich Wildblumenzwiebeln. Diese Zwiebeln sind winterhart und kommen in jedem Frühjahr wieder. Zudem
                erhalten sie sich selbst und vermehren sich munter, so dass der Garten oder Blumenkübel im kommenden
                Frühjahr bunt aufblüht und für unsere Wildbienen bietet es die erste wichtige Nahrungsquelle. Ich freue
                mich über deinen Besuch, in der Darmstädter Straße 44 in Roßdorf. Bis bald!
                <br>
                <br>
                P.S: Die Mischungen in den Kapseln enthalten Wildtulpe, Traubenhyazinthe, Zwerg-Iris und
                unterschiedliche Krokusse von der Kräuter-und Wildpflanzen Gärtnerei Strickler.

                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->


    <section class="container_presse gruener_hintergrund">
        <h1 class="title_dunkel"> September 2021 </h1>

        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/himmel.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/himmelm.jpg">
            </div>

            <h2>Blühwiese im Herbst anlegen
            </h2>
            <br>
            <p>
                Der Herbst hält Einzug und auch im Herbst finden Sie beste Bedingungen vor, um eine Wildblumenwiese in
                ihrem Garten anzulegen und somit einen wertvollen Beitrag zum Insektenschutz zu leisten. Vielleicht
                haben Sie eine sonnige Stelle im Garten, die Sie schon längst verschönern wollten. Mit geringem Aufwand
                und der richtigen Saatgutmischung können sie jetzt bis Ende Oktober mit der Aussaat der heimischen
                Wildblumen beginnen. Die Feuchtigkeit im Herbst hilft den Samen beim Keimen und Wachsen, denn die
                Wildblumenkeimlinge benötigen in den ersten 3 Wochen durchgehende Feuchtigkeit.
                <br>
                <br>
                Wo bekommen Sie das gebietsheimische Saatgut? Sie finden unsere zwei Blühsaat - Automaten Flora & Fauna
                an
                der Darmstädter Straße 29 und bei der AWO Kita Villa Kunterbunt Thüringerstraße 3.
                <br>
                <br>
                Warum ist gebietsheimisches Saatgut so wichtig? Da unsere stark bedrohten Insekten auf ganz bestimmte
                Pflanzen spezialisiert sind. Fehlt z.B. der Zwergwollbiene ihre bestimmte Futterpflanze, die
                Eseldiestel, dann stirbt sie aus. Außerdem können Insekten nur geringe Flugwege zurücklegen und
                benötigen deshalb eine dichte Biotopvernetzung, d.h. möglichst in jedem Garten eine noch so kleine
                geeignete Futterquelle.
                <br>
                <br>
                Warum sind unsere Wildbienen, Käfer, Fliegen und Schmetterlinge so wichtig? Weil sie für uns wichtige
                Bestäuber unserer Nahrungsmittel sind. In diesem Frühjahrjahr mussten wir erleben, dass die Honigbienen
                erst Ende Mai ausfliegen konnten, da es ihnen einfach zu kalt und zu nass war. Die Bienenvölker fangen
                erst ab einer Lufttemperatur von 12 Grad an, Nektar und Pollen zu sammeln und haben erst ab einer
                Lufttemperatur von 20 Grad die optimale Bedingen für ihren Flug. Hingegen die Hummeln, die zu den
                Wildbienenarten zählt, bereits bei Temperaturen über null Grad losfliegen kann.
                <br>
                <br>
                Für viele Insekten sind Blühwiesen nicht nur Nahrungsquelle, sondern stellen auch ein geeignetes
                Winterquartier dar. Daher raten wir, den Garten über den Winter ruhig unaufgeräumt zu belassen und mit
                dem Rückschnitt bis zum Frühjahr warten.
                <br><br>
            </p>

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/tagDerNachhaltigkeit21.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/tagDerNachhaltigkeit21m.jpg">
            </div>

            <h2>Tag der Nachhaltigkeit
            </h2>
            <br>
            <p>
                In unserem zweiten Jahr „Roßdorf blüht auf“ war es uns natürlich ein großes Anliegen auf dem Fest
                zum Tag der
                Nachhaltigkeit vertreten zu sein, gemeinsam mit den anderen engagierten Menschen aus unserem Ort.
                <br><br>
                An unserem Stand haben wir über die Wichtigkeit sowie den Nutzen der Verbreitung von heimischen
                Saatgut
                informiert. Dazu konnten sich Interessierte unterschiedliche Broschüren zu dem Thema mitnehmen und
                auch
                Saatgut-Tütchen erwerben. Außerdem gab es ein sehr gut besuchtes Bastelangebot für die jüngsten
                Besucher: Kinder konnten aus Konservendosen und Bambusröhrchen ihr eigenes Insektenhotel
                für den Garten oder Balkon herstellen, siehe Bild. Für jedes Kind, das teilgenommen hat, gab es
                danach einen
                „Wildbienen-Keks“ am Kuchenstand.
                <br><br>
                Ein weiteres Highlight war unser neuer Blumenzwiebel Automat „Florian“, der sich auf dem Fest
                erstmalig
                präsentierte und im Anschluss in der Darmstädterstraße 44 aufgehängt wurde.
                <br><br>
                Des weiteren hatten wir eine Pinnwand, in welcher die BesucherInnen einen Pin hinterlassen konnten,
                wenn sie ein kleines Stückchen Blühwiese in Roßdorf geschaffen hatten. Entweder weil sie
                MitmacherInnen der Blühkistenaktion vom letzten Jahr waren oder weil sie dieses Jahr Saatgut aus den
                Automaten Flora & Fauna ausgesäht hatten. Die Pins haben wir dann später auf unsere „rossdorf-
                blueht-auf“ Seite (<a href="/biotopvernetzung">Biotopvernetzung</a>) übertragen.
                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->


    <section class="container_presse blauer_hintergrund">
        <h1 class="title_dunkel"> Juli 2021 </h1>

        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/samentuetchen.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/samentuetchenm.jpg">
            </div>

            <h2>Samentütchen für die Kommunion
            </h2>
            <br>
            <p>
                Anfang Juni bekamen wir von der Gruppenleiterin der diesjährigen Kommunionskinder eine schöne Anfrage.
                Sie
                erzählte, dass die Kinder sich auf ihrem Vorstellungsplakat auf Blumen präsentiert haben. Dadurch
                entstand die Idee, den GottesdienstbesucherInnen als Andenken eine Samenkapsel der Ortsinitiative
                „Roßdorf blüht auf“ mitzugeben, auch um unser wertvolles Projekt zu unterstützen.
                <br>
                <br>
                Wir waren natürlich sofort von ihrer Idee begeistert! Doch da gab es ein Problem: wir hatten nicht
                genügend Samenkapseln zur Verfügung, da diese für unser Refill- System des Saatgutautomaten benötigt
                werden. Extra Plastikkapseln zu bestellen, kam für uns nicht in Frage.
                <br>
                <br>
                Doch schnell war eine alternative Lösung gefunden. Wir einigten uns darauf gemeinsam 250 Samentütchen
                aus alten Kinder- und Gartenzeitschriften mit festem Papier zu falten und diese mit 0,5 qm heimischen
                Saatgut von Rieger- Hofmann zu befüllen. Praktisch war auch, dass auf die bunten Tütchen prima zwei
                Aufkleber von unserer Gemeinschaftsaktion www.Rossdorf-blueht-auf.de und Erstkommunion 2021 (siehe
                Foto) passten. Die Gottesdienstbesucher fanden das Angebot sehr ansprechend und nahmen sich gerne
                Tütchen
                mit.
                <br>
                <br>
                Herzlichen Dank an alle Beteiligten für die schöne innerörtliche Vernetzung.

                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->
    <section class="container_presse rosaner_hintergrund">
        <h1 class="title_dunkel"> Mai 2021 </h1>

        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/weltbienentag21.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/weltbienentag21m.jpg">
            </div>

            <h2>Weltbienentag 2021
            </h2>
            <br>
            <p>
                Am 20.Mai 2018 wurde der Weltbienentag zum ersten Mal weltweit ausgerufen. Bienen sind für uns
                Menschen
                eins der wichtigsten Nutztiere, denn eine Welt ohne Bienen wäre für den Menschen undenkbar.
                <br>
                <br>
                Gäbe es keine Bienen mehr, dann gäbe es am Morgen keinen Kaffee oder Kakao zum Frühstück. Auf
                die
                leckere Erdbeer- oder Aprikosenmarmelade und Honig müssten wir verzichten. Zum Mittagessen gäbe
                es keine
                leckere Gemüsepfanne oder Kürbissuppe zu essen. Und das Glas Wein am Abend würde auch fehlen. An
                diesem
                kleinen Beispiel wird uns deutlich bewusst, dass 80 % unserer Lebensmittel auf die Bestäubung
                unserer
                (Wild-)Bienen und Insekten angewiesen sind. WissenschaftlerInnen haben sich zur Aufgabe gemacht,
                den
                konkreten Wert, den die (Wild-)Bienen für die Bestäubung leisten, umzurechnen. Hierbei kamen sie
                auf
                einen Wert von zwei Milliarden Euro an „volkswirtschaftlichen Nutzen“.
                <br>
                Natürlich könnten wir die Blüten von Hand bestäuben, so wie es bereits seit einigen Jahren in
                China
                gemacht wird. Doch sollte das eher ein abschreckendes Beispiel für uns sein. Die ForscherInnen
                des Laves
                Bieneninstitut in Celle, fanden heraus, dass Obst, das von (Wild-)Bienen bestäubt wurde,
                schwerer,
                größer, wohlgeformter, süßer, widerstandsfähiger gegen Krankheiten und besser gelagert werden
                kann.
                <br>
                <br>
                Wie wichtig Bienen für unsere Erde sind und welche Konsequenzen das drastische Bienensterben
                nach sich
                zieht, wissen inzwischen die meisten Menschen. Gründe für dieses Bienensterben sind unteranderem
                bei den
                Honigbienen die Parasiten, wie die Varromilbe. Aber auch die Pestizide(Pflanzenschutzmittel),
                die ihren
                Orientierungssinn und ihr Immunsystem schwächen und im schlimmsten Fall tödlich sind. Auch die
                großen
                Monokulturen in der Landwirtschaft, sorgen dafür, dass das Nahrungsangebot sehr eingeschränkt
                ist und
                die (Wild)Bienen nicht genügend geeignetes Futter finden. Der Lebensraum für Wildbienen wird
                immer
                kleiner, da immer mehr Flächen bebaut sind und nicht für genügend Ausgleichsflächen gesorgt
                wird.
                <br>
                <br>
                Nun fragen sie sich sicherlich was sie, tun können oder schon bereits tun, damit es unseren
                (Wild)Bienen
                & Insektenfreunden besser geht und ihre Bestände sich erholen können?
                <br>
                <br>
                Wenn sie zukünftig in ihrem Garten auf eine bienenfreundliche Bepflanzung (heimische
                Wildblumenmischung
                & Stauden) achten, wilde Ecken mit Brennnesseln und Totholz stehen lassen und zusätzlich für
                Nistmöglichkeiten, wie Insektenhotels sorgen, dann helfen sie den Wildbienen und Insekten schon
                sehr.
                Auch beim Einkauf können sie auf biologische Lebensmittel achten. Sie unterstützen damit eine
                Agrarwirtschaft, die ohne chemisch-synthetische Pestizide auskommt. Das kommt der Natur und
                somit auch
                den Bienen zu Gute. Weitere Tipps können sie auf unserer www.nachhaltig-zusammen-leben.jetzt
                finden oder
                www.bund.net, www.nabu.de oder www.bienenretter.de, um nur einige informative Internetseiten
                hierfür zu
                benennen.
                <br><br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->

    <section class="container_presse lila_hintergrund">

        <h1 class="title"> April 2021 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/automat1.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/automat1m.jpg">
            </div>

            <h2>Hallo - dürfen wir uns vorstellen?!
            </h2>
            <br>
            <p>
                „Wir sind Flora und Fauna eure neu upgecycelten Blühsaat - Automaten in Roßdorf. In unseren Bäuchen
                tragen wir Kugeln mit heimischen Saatgut. Das freut besonders unsere summenden Insektenfreunde, die
                leider zu wenig geeignetes Futter in den Gärten finden. Magst du sie unterstützen? Das ist ganz leicht!
                Wenn du ein Plätzchen im Garten für ein Stück Blühwiese hast, es kann auch ein höherer Blumenkübel auf
                dem Balkon oder Terrasse sein, dann kannst du bereits einen wertvollen Beitrag zur Biotopvernetzung
                schaffen. Denn unsere Insektenfreunde schaffen nur kurze Wege zu fliegen und benötigen somit in jedem
                Garten etwas Leckeres zu Essen.“
                <br>
                <br>
                Hiermit geht unsere MitMach - Aktion „Roßdorf blüht auf“ in die 2.Runde. Letztes Jahr haben wir in
                Roßdorf die Aktion „Blühkisten“ initiiert und fast 200 Kisten verteilt. Für dieses Jahr haben wir uns
                etwas Anderes ausgedacht, um die Vielfalt der Wiesenblumen und damit das Nahrungsangebot für die
                Wildbienen und Schmetterlinge etc. in den Roßdörfer Gärten zu verbessern.
                <br>
                <br>
                Die Wiesensamen gibt es in den beiden Automaten als Portionen für 50 Cent oder 1 Euro zum Selbstaussäen.
                Damit kannst du jeweils 0, 5 qm oder 1 qm Blühwiese entstehen lassen. Gerne auch mehr! Der Samen wurde
                für uns von der renommierten Firma Rieger-Hofmann speziell zusammengemischt: sie enthält einen besonders
                hohen Anteil an Wiesenblumen (60%) und nur 40% Gräser. Da die Wiesenblumen erst ab dem zweiten Jahr zur
                vollen Blüte kommen, haben wir, eine Extraportion Kornblume und Klatschmohn dazu mischen lassen. Diese
                Saatgut Mischung enthält natürlich nur heimische Arten und es ist außerdem gebietsheimisch
                (d.h.genetisch aus unserem Naturraum).
                <br>
                <br>
                Also wenn du in deinem Garten ein Stück Gras hast, das sonnig liegt und nicht als Rasen genutzt wird und
                zudem nicht gedüngt ist, dann hast du einen perfekten Ort, um mit dem Saatgut eine wertvolle Blühwiese
                anzulegen. Auch in einem höheren Blumenkübel kannst du es gerne ausprobieren. Damit das gelingt, gibt
                die Saatgutfirma wichtige und interessante Informationen zu Anlage und Pflege:
                https//www.rieger-hofmann.de/alles-ueber-rieger-hofmann.html.
                Bitte beachte: Es handelt sich um zarte heimische Pflanzen, die unsere stark gefährdeten Insekten lieben
                und nicht um blühintensive, gärtnerische Zuchtformen.
                Eine weitere Bitte haben wir an „unsere Blühkistler“. Schaut mal nach euren Blühkisten vom letzten Jahr
                und informiert uns, wie sie sich entwickelt haben und was im Sommer alles blüht. Auch über weitere Fotos
                würden wir uns riesig freuen. E-Mail an: lariviere.kathrin@freenet.de
                <br>
                <br>
            </p>
        </div>
    </section>

    <!--****************************************************************-->
    <section class="container_presse blauer_hintergrund">

        <h1 class="title"> Juli 2020 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/collageBluehkisten.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/collageBluehkistenm.jpg">
            </div>
            <!--todo video!!!-->
            <h2>
                Video und Plakataktion - wer entdeckt sich als Blühkistler:in?
            </h2>
            <br>
            <p>
                Aber wo sind die 170 Blühkisten der Engagierten geblieben, in die im März mehrjährige Bienenfreundliche
                Blühpflanzen eingesäht wurden?
                <br>
                <br>
                Am Sonntag der offenen Gärten im Juni war eine große Präsentation geplant.
                Corona hat uns leider ausgebremst und so mussten wir anders kreativ werden:
                Im Ort verteilt können Sie nun auf Plakaten die blühenden Ergebnisse entdecken.
                Viel Spaß beim Anschauen und Staunen und 1000 Dank an alle Mitmacher:innen!
                <br>
                <br>
                Roßdorf blüht auf!
                <br>
                <br>
            </p>
        </div>
    </section>
    <!--****************************************************************-->
    <section class="container_presse ">

        <h1 class="title"> Juni 2020 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/bluehKisteDarmstStr.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/bluehKisteDarmstStrm.jpg">
            </div>

            <h2>
                Blühkisten entlang der Darmstädter Straße eingepflanzt
            </h2>
            <br>
            <p>
                Vielen Dank an die Blühkistler, die nach monatelanger Pflege ihre Blühkisten für einen öffentlichen
                Grünstreifen zur Verfügung gestellt haben.
                In Abstimmung mit Frau Zorn (Umweltamt) und Herrn Pullmann (Bauhof) haben wir 13 Kisten in einem
                Grünstreifen an der Darmstädter Str verbuddelt.
                <br>
                <br>
            </p>
        </div>
    </section>
    <!--****************************************************************-->
    <section class="container_presse gruener_hintergrund">

        <h1 class="title"> Mai 2020 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/bluehkisteBlueht.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/bluehkisteBluehtm.jpg">
            </div>

            <h2>
                Wichtige Infos für alle „Blühkistler"
            </h2>
            <br>
            <p>
                In den Blühkisten sind aus den Samen mittlerweile kleine Pflänzchen entstanden. Vielleicht nicht so
                üppig, wie man das von Kulturpflanzen gewöhnt ist, aber es sind schließlich heimische Wildpflanzen.
                Teilwiese sind die Pflänzchen auch nicht gleichmäßig in den Kisten verteilt. Das kann daran liegen,
                dass die Samenkörner beim Gießen weggespült wurden. Da es sogenannte Lichtkeimer sind, durfte
                der Samen nicht in die Erde eingearbeitet werden.
                <br>
                <br>
                Bitte unbedingt beachten: Der Artikel im Darmstädter Echo über unsere Blühkisten war zwar sehr
                informativ, aber über die Überschrift sind wir nicht glücklich. „Schmackhaft“ war darin nur für
                Insekten gemeint, keinesfalls für Menschen! Denn leider enthalten die Blühmischungen heimischer
                Wildblumen auch giftige Pflanzen (z.B. Kornrade, Adonisröschen). Sie blühen zwar sehr schön, aber
                sie dürfen keinesfalls gegessen werden.
                <br>
                <br>
                Ursprünglich war eine Blühkisten Aktion bei der Veranstaltung „Garten 2020“ Anfang Juni
                vorgesehen. Doch das wird wegen Corona voraussichtlich nicht möglich sein. Wir suchen jetzt nach
                alternativen Ideen, um aus unserer Blühkisten Aktion trotz allem ein „großes Bild“ entstehen zu
                lassen. Hierfür haben wir uns überlegt, dass wir gerne von euch normale, lustige, originelle oder
                künstlerisch inszenierte „Blühkisten Fotos“ mit und von euch hätten. Diese Fotos werden wir dann zu
                einem großen Gesamtbild erblühen zu lassen. Dieses Bild möchten wir dann an einem öffentlichen
                Ort in Roßdorf ausstellen, damit unsere Vision von Roßdorf sichtbar wird.
                <br>
                <br>
                Bitte sendet uns die Fotos bis zum 15.Juni zu, an lariviere.kathrin@freenet.de , damit würde jeder
                Teilnehmer sich einverstanden erklären, dass wir die Fotos für die Blühkisten Kollage verwenden
                dürfen.
                <br>
                <br>
                Wichtig ist, dass die Kisten Mitte Juni in die Erde, möglichst in Grasflächen, versenkt werden. Bitte
                nach dem Eingraben möglichst viele weitere Löcher in den Kistenboden stoßen, damit die Wurzen in
                das Erdreich eindringen können. Das Holz wird sich im Laufe der Zeit auflösen. Die Dreiecksleisten in
                den Kistenecken werden mit einer starken Gartenschere oder Säge bodengleich abgeschnitten, damit
                man später darüber mähen kann.
                <br>
                <br>
                Falls jemand Blühkisten übrig haben sollte, die er nicht in die Erde bringen kann, bitte meldet euch
                unter der unten angegeben Email.
                <br>
                <br>
                Wir sammeln bei unserem ersten Blühkisten - Experiment Erfahrungen für das nächste Mal.
                Infos, Fragen, Fotos, etc. bitte per Email an: lariviere.kathrin@freenet.de
                <br>
                <br>
            </p>
        </div>
    </section>
    <!--****************************************************************-->
    <section class="container_presse lila_hintergrund">

        <h1 class="title"> April 2020 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/kathrinMitKiste.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/kathrinMitKistem.jpg">
            </div>
            <h2>Schmackhafte „Blühkisten“ für Roßdorf </h2>
            <br>
            <p>
                [aus dem Darmstädter Echo vom 6.4.2020, Text: Dominique Pfeiffer, Foto: Karl-Heinz Bärtl]
                <br>
                <br>
                Eine neue Gruppe des Nachhaltigkeits-Stammtischs bemüht sich um ein vielfältigeres Nahrungsangebot für
                heimische Insekten. Aktion findet großen Anklang bei den Roßdörfern.
                <br>
                <br>
                Kathrin Larivière zeigt eine der 180 Blühkisten des gleichnamigen Roßdörfer Kunst- und
                Umweltschutzprojekts.
                <br>
                <br>
                ROSSDORF - Das Leben ist aktuell von der lähmenden Angst vor dem Coronavirus geprägt. Die Straßen und
                Innenstädte sind großteils menschenleer und das Leben scheint stillzustehen.
                Doch gibt es auch in dieser Zeit Bürger, die durch ihr Engagement etwas bewegen möchten.
                Bereits vor Monaten bildete sich aus dem Stammtisch „Nachhaltigkeit“ die „Blühgruppe“ um Kathrin
                Larivière und Ralf Theurer, die inzwischen neun Personen zählt.
                <br>
                <br>
                „Wir haben überlegt, wie können wir in Roßdorf mehr Arten- und Nahrungsvielfalt für Insekten schaffen“,
                nennt Larivière die Intention. Dabei ist es ihnen wichtig, heimische, regionale Samen auszusäen, die
                speziell für Wildbienen bedeutsam sind. Diese Insekten haben nur einen kleinen Flugradius und brauchen
                daher unmittelbar, besondere Pflanzen, die ihre Futterquellen sichern. Sie fragten bei der Gemeinde
                wegen kleinen Flächen zur Bepflanzung an, die ihnen diese aber erst für Herbst zusagte.
                So entstand die Idee mit einer künstlerischen Mitmachaktion, mit bei ihnen erworbenen Blühkisten fürs
                Frühjahr, zu starten. In möglichst vielen Gärten sollen diese gehegt und gepflegt werden. Am Aktionstag
                7. Juni sollen dann die Bürger die Blühkisten an einen Platz im Ort, der ihnen noch mitgeteilt wird,
                bringen. Dort werden sie künstlerisch, ihrer Vision eines „blühenden Roßdorfs“ entsprechend, arrangiert,
                so Larivière. Ihre Gruppe ist auch mit dem Projekt „Offene Gärten-Kunst in den Gärten“ verknüpft. Nach
                dieser Aktion sollen die Bürger die Blühkisten in ihren Gärten einpflanzen.
                <br>
                <br>
                Zum Umsetzen ihrer Idee sammelte die Gruppe in Supermärkten knapp 200 Obst- und Gemüsekisten, die im
                Boden gut verrotten. Magere Erde aus der Grube Messel wurde lose gekauft. Das Saatgut mit einer Vielzahl
                von ein- und mehrjährigen Pflanzen erwarb man bei dem Saatgutanbieter „Rieger Hofmann“ und der
                Darmstädter Gartenzentrale „Appels wilde Samen“. Sie gestalteten Flyer, Handzettel, Poster und
                verbreiteten ihr Anliegen über die Medien sowie Mundpropaganda. Doch gerade als sie per E-Mail den Flyer
                an die Adressen aus ihren verschiedenen sozialen Netzwerken versenden und veröffentlichen wollten, kam
                ihnen das Virus und die Kontaktsperre dazwischen. So wurde die Idee des gemeinsamen Bepflanzens
                verworfen. Die Gruppe machte die Kisten fertig und brachte sie an fünf Abholplätze im Ort, die sie
                bekannt gaben. Dort stellten sie auch leere Farbeimer als Sammelbüchsen für die Bezahlung der Blühkisten
                (2,50 Euro pro Stück) auf. „Das hat super geklappt“. 76 Teilnehmer meldeten sich, bekamen die
                „Blühkisten“ mit Pflegeanleitung. Ihre Aktion hatte so großen Erfolg, dass sie nach dem ersten
                Verteilungstermin zwischen dem 21. und 23., einen Zweiten vom 25. bis 28. März organisierten. Insgesamt
                wurden über 180 Blühkisten verteilt.
                <br>
                <br>
                „Wir sind froh, dass so viele mitgemacht haben.“ Die Blühgruppe möchte das Projekt fortführen und die
                Leute zum Nachmachen animieren. Bei Interesse können Pflanzenfreunde auch die richtige Samenmischung mit
                etwa 100 verschiedenen Blumen und Gräsern erhalten.
                <br>
                <br>
            </p>
        </div>
    </section>
    <!--****************************************************************-->
    <section class="container_presse blauer_hintergrund">

        <h1 class="title"> März 2020 </h1>
        <div class="container_main_60">

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/bluehkisteFlyer1.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/bluehkisteFlyer1m.jpg">
            </div>

            <div id="hidden_mobile" class="container_media_padding">
                <img src="images/aktionen/bluehkisteFlyer2.jpg">
            </div>
            <div id="hidden_desktop" class="container_media_padding">
                <img src="images/aktionen/bluehkisteFlyer2m.jpg">
            </div>
        </div>
    </section>

    <!--****************************************************************-->

</main>
</body>
</html>