<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body class="background">

<div class="navigation"></div>

<main>
    <h1> Aktuelles</h1>
    <h2>Tu etwas für die Vögeln und Insekten im Sommer</h2>
    <section class="box">
        <section class="box-info">
            <p>Jedes Lebewesen braucht Wasser: zum Trinken, Baden oder um sich abzukühlen. Während unsere Haus- und
                Nutztiere durch ihre Halter gut versorgt sind haben es Vögel, Insekten und kleine Säugetiere
                schwerer in
                den heißen Sommermonaten an Wasser zu gelangen.
                <br><br>
                Jetzt rückt der Sommer immer näher und wir können unseren kleinen Freunden helfen, indem wir
                Wassertränken in unserem Garten, Balkon oder Vorgarten aufstellen. Als Tränken eignen sich
                Untersetzer
                einer Topfpflanze oder eine flache Schale.
            </p>
        </section>

        <section class="box-info">
            <p>
                <img src="images/aktuelles/Traenke.jpeg">
                Honigbiene an einer Insektentränke <a class="bunt" target="_blank" href="https://commons.wikimedia.org/wiki/File:Insektentr%C3%A4nke_-_Honigbiene_(2019-09-04_Sp).JPG">
                Lothar Spurzem</a>, <a class="bunt" target="_blank" href="https://creativecommons.org/licenses/by-sa/2.0/de/deed.en">
                CC BY-SA 2.0 DE</a>, via Wikimedia Commons
            </p>
        </section>

        <section class="box-info">
            <p>
                Eine Vogeltränke sollte nicht zu tief sein, damit Vögel nicht ertrinken, falls sie hineinfallen. Gut
                ist
                ein großer Stein in der Mitte, der als Badeinsel dient. Der beste Platz für die Tränke ist am Rand
                von
                Sträuchern und im Schatten. Damit die Vögel anschleichende Katzen rechtzeitig entdecken können
                sollte
                etwas Abstand zum Gebüsch vorhanden sein.
                <br><br>
                Die Tränke für Insekten muss mit mehreren Kieselsteinen verschiedener Größe befüllt werden, damit
                sie
                besser ans Wasser gelangen bzw. aus eigenen Kraft an eine flache Stelle gelangen können, falls sie
                mal
                hineinfallen.

            </p>
        </section>


    </section>

    <section class="box">

        <section class="box-info">
            <p>
                Für die meisten wassersuchenden Tiere ist am besten, wenn das Gefäß direkt auf dem Boden oder etwas
                erhöht, z.B. auf einem Stein, steht.

                <br>
                <br>
                Für kleine Tiere wie z.B. Mäuse ist es besonders wichtig, dass
                es
                einen Rettungsstein o.ä. gibt, welcher aus dem Wasser herausragt. Damit können sie sich retten,
                falls
                sie ins Wasser geplumpst sind.

            </p>
        </section>


        <section class="box-info">
            <p>
                Dabei gibt es aber ein paar Punkte zu beachten. Zum einen sollte die Tränke laufend aufgefüllt
                werden,
                denn die Tiere gewöhnen sich schnell daran, das Wasser dort zu finden. Zum anderen ist besonders bei
                den
                Vogelbädern auf die Hygiene zu achten. Da warmes, abgestandes Wasser bald Bakterien, Pilze und
                Parasiten
                enthält, sollte - um die Vögel vor Krankheiten zu schützen - das Wasser besser komplett
                ausgetauscht,
                statt nur aufgefüllt werden.
            </p>
        </section>


        <section class="box-info">
            <p>Um die Parasiten zu töten sollte man die Tränke auch regelmäßig
                reinigen,
                natürlich ohne Chemikalien sondern mit heißem Wasser und einer Bürste. Wem das zu aufwendig ist, der
                lässt das Bad immer mal wieder für 24 Stunden an der Sonne austrocknen - danach sind alle Parasiten
                tot.
                Dafür kann man zwei Tränken im Wechsel nutzen, damit immer eine mit frischen Wasser befüllt für die
                Vögel bereit steht.

            </p>
        </section>


    </section>

</main>
</body>
</html>