<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body class="background">

<div class="navigation"></div>

<main>
    <h1> Aktuelles</h1>
    <h2>
        Hier könnt ihr lesen, was ihr in der jetztigen oder kommenden Jahreszeit für unsere Insekten und andere kleine
        Tiere tun könnt.
        <br>
        <br>
    </h2>

    <section class="gelber_hintergrund">
        <br>
        <h2>Sommer: Wasserstellen für Vögel und Insekten</h2>
        <section class="box gelber_hintergrund">
            <section class="box-info">
                <h2>Was kann ich tun?</h2>
                <p>
                    <br>
                    Jedes Lebewesen braucht Wasser: zum Trinken, Baden oder um sich abzukühlen. Während unsere Haus-
                    und
                    Nutztiere durch ihre Halter gut versorgt sind haben es Vögel, Insekten und kleine Säugetiere
                    schwerer in
                    den heißen Sommermonaten an Wasser zu gelangen.
                    <br><br>
                    Wenn der Sommer näher rückt können wir unseren kleinen Freunden
                    helfen,
                    indem wir
                    Wassertränken in unserem Garten, Balkon oder Vorgarten aufstellen.

                    <br><br>
                    Als Tränken eignen sich
                    Untersetzer
                    einer Topfpflanze oder eine flache Schale.
                </p>
            </section>

            <section class="box-info">

                <section id="hidden_mobile" class="container_media_corners">
                    <img src="images/aktuelles/Traenke.jpeg">
                </section>
                <section id="hidden_desktop" class="container_media_corners">
                    <img src="images/aktuelles/Traenkem.jpeg">
                </section>
                <p>
                    <br>
                    Honigbiene an einer Insektentränke <a class="bunt" target="_blank"
                                                          href="https://commons.wikimedia.org/wiki/File:Insektentr%C3%A4nke_-_Honigbiene_(2019-09-04_Sp).JPG">
                    Lothar Spurzem</a>, <a class="bunt" target="_blank"
                                           href="https://creativecommons.org/licenses/by-sa/2.0/de/deed.en">
                    CC BY-SA 2.0 DE</a>, via Wikimedia Commons
                </p>
            </section>

            <section class="box-info">

                <h2>Wie geht das?</h2>
                <p>
                    <br>
                    Eine Vogeltränke sollte nicht zu tief sein, damit Vögel nicht ertrinken, falls sie hineinfallen.
                    Gut
                    ist
                    ein großer Stein in der Mitte, der als Badeinsel dient.
                    Aber auch für kleine Tiere wie z.B. Mäuse ist es wichtig, dass
                    es einen Rettungsstein o.ä. gibt, welcher aus dem Wasser herausragt.

                    <br><br>
                    Die Tränke für Insekten muss mit mehreren Kieselsteinen verschiedener Größe befüllt werden,
                    damit
                    sie
                    besser ans Wasser gelangen bzw. aus eigenen Kraft an eine flache Stelle gelangen können, falls
                    sie
                    mal
                    hineinfallen. Insekten hilft es auch, wenn vorallem am Rand der Tränke etwas Moos verteilt wird.
                    So
                    gibt
                    es
                    für sie
                    außreichend Fläche um sich gefahrlos ans Wasser niederlassen zu können.

                </p>
            </section>

        </section>

        <section class="box gelber_hintergrund">

            <section class="box-info">

                <h2>Wo?</h2>
                <p>
                    <br>
                    Für die meisten wassersuchenden Tiere ist am besten, wenn das Gefäß direkt auf dem Boden oder
                    etwas
                    erhöht, z.B. auf einem Stein, steht.

                    <br><br>
                    Der beste Platz für die Tränke ist außerdem am Rand von Sträuchern und im Schatten.
                    Damit die Vögel anschleichende Katzen rechtzeitig entdecken können sollte
                    etwas Abstand zum Gebüsch vorhanden sein.
                </p>
            </section>


            <section class="box-info">
                <h2>Nachfüllen?</h2>
                <p><br>
                    Dabei gibt es aber ein paar Punkte zu beachten. Zum einen sollte die Tränke laufend aufgefüllt
                    werden,
                    denn die Tiere gewöhnen sich schnell daran, das Wasser dort zu finden. Zum anderen ist besonders
                    bei
                    den
                    Vogelbädern auf die Hygiene zu achten. Da warmes, abgestandes Wasser bald Bakterien, Pilze und
                    Parasiten
                    enthält, sollte - um die Vögel vor Krankheiten zu schützen - das Wasser besser komplett
                    ausgetauscht,
                    statt nur aufgefüllt werden.
                </p>
            </section>


            <section class="box-info">
                <h2>Hygiene?</h2>
                <p><br>Um die Parasiten zu töten sollte man die Tränke auch regelmäßig
                    reinigen,
                    natürlich ohne Chemikalien sondern mit heißem Wasser und einer Bürste. Wem das zu aufwendig ist,
                    der
                    lässt das Bad immer mal wieder für 24 Stunden an der Sonne austrocknen - danach sind alle
                    Parasiten
                    tot.
                    Dafür kann man zwei Tränken im Wechsel nutzen, damit immer eine mit frischen Wasser befüllt für
                    die
                    Vögel bereit steht.

                </p>
            </section>

        </section>


        <section class="oranger_hintergrund">
            <br>
            <h2>Frühling: Lege eine Wildblumenwiese an!</h2>
            <section class="box oranger_hintergrund">

                <section class="box-info blauer_hintergrund">
                    <h2>Schritt 1: Fläche vorbereiten
                        <br>
                        <br>
                    </h2>
                    <section class="container_media_corners">
                        <img src="images/aktuelles/graben.png">
                    </section>
                    <p>
                        <br>
                        Eine kleine Fläche genügt. Wir haben hier auf ca. 2 qm die obere Grasschicht mit dem Spaten
                        entfernt. Dieser Schritt ist am anstrengendsten.
                    </p>
                </section>

                <section class="box-info blauer_hintergrund">
                    <h2>Schritt 2: Lockern & Säubern
                        <br>
                        <br>
                    </h2>
                    <section class="container_media_corners">
                        <img src="images/aktuelles/aussortieren.png">
                    </section>

                    <p>
                        <br>
                        Sobald die Erde frei liegt müsst ihr sie mit einer Harke o.ä. auflockern und das Beikraut und
                        evtl.
                        vorhandene Steine entfernen.
                    </p>
                </section>

                <section class="box-info blauer_hintergrund">
                    <h2>Schritt 3: Aussähen
                        <br>
                        <br>
                    </h2>
                    <section class="container_media_corners">
                        <img src="images/aktuelles/saat.png">
                    </section>
                    <p>
                        <br>
                        Dann verteilt ihr das Saatgut.
                        Wir haben hier Lichtkeimer, d.h. das Saatgut darf nicht in der Erde vergraben werden.
                        Mehr Infos zu heimischem Saatgut findet ihr in <a href="/info"> Infos</a>.
                    </p>
                </section>

            </section>

            <section class="box oranger_hintergrund">

                <section class="box-info blauer_hintergrund">
                    <h2>Schritt 4: Festwalzen
                        <br>
                        <br>
                    </h2>
                    <section class="container_media_corners">
                        <img src="images/aktuelles/plattDruecken.png">
                    </section>
                    <p>
                        <br>
                        Damit das Saatgut nicht verweht oder weggespült wird, muss es am besten mit einem Brett fest in
                        den
                        Boden gedrückt
                        werden. Je besser die Fläche vorbereitet wurde, desto besser klappt dieser Schritt.
                    </p>
                </section>

                <section class="box-info blauer_hintergrund">
                    <h2>Fertig!
                        <br>
                        <br>
                    </h2>
                    <section class="container_media_corners">
                        <img src="images/aktuelles/fertig.png">
                    </section>
                    <p>
                        <br>
                        Die Blühwiese ist fertig angelegt! Zur Starthilfe muss sie anfangs regelmäßig gegossen werden.
                        Jetzt könnt ihr auch einen Punkt auf unserer Karte zur <a href="/biotopvernetzung">
                        Biotopvernetzung</a> eintragen.
                    </p>
                </section>

                <section class="box-info blauer_hintergrund">
                    <h2>Gemeinsam
                        <br>
                        <br>
                    </h2>
                    <section class="container_media_corners">
                        <img src="images/aktuelles/freunde.png">
                    </section>
                    <p>
                        <br>
                        Am meisten Spaß macht es gemeinsam. So verbrachten wir einen schönen Vormittag an der frischen
                        Luft
                        und haben auch mal wieder Zeit zum quatschen gehabt, während wir den Boden bearbeitet haben.
                    </p>
                </section>

            </section>

            <section class="box oranger_hintergrund">

                <section class="box-info blauer_hintergrund">
                    <h2> Was ist mit meinen Nachbarn?
                    </h2>

                    <p>
                        Immer wieder kommt es zu Problemen, wenn Laub, Samen, Pollen und dergleichen vom Nachbarsgarten
                        über
                        den Zaun wehen und Beeinträchtigungen verursachen. Auch die Gerichte haben sich schon mit
                        vielfältigen Klagen zu diesem Thema beschäftigt und sind zu einem einstimmigen Urteil gekommen:
                        Laub- und Samenflug sind grundsätzlich hinzunehmen, insofern dieser ortsüblich ist. Rechtlich
                        gesehen greift hier der Paragraph §906 im BGB, der sich mit der Zuführung unwägbarer Stoffe
                        befasst.
                        <span class="bold">  Da Bäume, Sträucher, Gräser usw. der allgemeinen Wohlfahrt dienen und ihre Emissionen natürlich
                    verursacht werden, gibt es keine Handhabe dies zu verbieten oder Schadensersatz zu fordern.</span>

                    </p>
                </section>
                <section class="box-info blauer_hintergrund">
                    <p>
                        Ausnahmen gibt es nur in extremen Fällen. Solche Ausnahmefälle können z.B. Ambrosia, aufgrund
                        seiner
                        hohen allergischen Wirkung, oder ein Brennnessel-Meer sein. Liegt kein solcher Ausnahmefall vor,
                        kann keine Beseitigung gefordert werden. Auch eine verstopfte Regenrinne oder eine
                        Wildblumenwiese,
                        mit einhergehendem erhöhten Samenflug und Insektenaufkommen, gelten im Übrigen nicht als
                        Ausnahmefall.
                        <br>
                        <br>
                        <span class="bold">Es ist daher ratsam sich abzufinden und stattdessen die Natur um sich herum in vollen Zügen zu
                        genießen.</span>
                        <br>
                        <br>
                        Bei weiteren Fragen könnt ihr euch gerne ans Umweltamt unter 06154/808-205 oder
                        umweltamt@rossdorf.de wenden.
                    </p>
                </section>
            </section>

        </section>

        <section class="dunkelblauer_hintergrund">
            <br>
            <h2>Herbst: Wie kann ich meinen Garten tierfreundlich über die Wintermonate gestalten?</h2>
            <section class="box dunkelblauer_hintergrund">

                <section id="hidden_mobile" class="box-info lila_hintergrund container_media_padding">
                    <img src="images/aktuelles/WilderGartenHerbst1.jpg">
                </section>
                <section id="hidden_desktop" class="box-info lila_hintergrund container_media_padding">
                    <img src="images/aktuelles/WilderGartenHerbst1m.jpg">
                </section>

                <section class="box-info lila_hintergrund">
                    <h2>Was kann ich tun?</h2>
                    <p>
                        <br>
                        Ein unaufgeräumter Garten hilft z.B. Insekten (Solitärbienen) am besten zu überwintern, wenn
                        alte
                        Pflanzenstängel einfach stehen gelassen werden. Ein beliebtes Winterquartier sind auch Laub,
                        Totholz-
                        oder
                        Reisighaufen. Manche Hummelarten, Schmetterlinge und Insekten verbringen darin ihre Winterstarre
                        und
                        erwachen
                        mit den ersten Sonnenstrahlen im Frühling.
                    </p>
                    <br>
                    <h2>Wie geht das?</h2>
                    <p>
                        <br>
                        Reisig- und Laubhaufen einfach an einem geschützten Platz im Garten
                        liegen lassen und für alle Tiere gilt: Bitte nicht stören, sowohl im Garten als auch in
                        Gebäuden,
                        denn dort verkriecht sich auch gerne so manches Tier, wie Marienkäfer und Florfliegen. Auch
                        findet
                        man manche Falterart in Kellern und auf Dachböden.
                        <br>
                        <br>
                        Da viele Gartenvögel bei uns überwintern, benötigen auch sie genügend Futter und sie freuen sich
                        über
                        stehengelassene Pflanzenstängel, um dort die Samen herauszupicken.
                    </p>
                </section>

                <section id="hidden_mobile" class="box-info lila_hintergrund container_media_padding">
                    <img src="images/aktuelles/WilderGartenHerbst2.jpg">
                </section>
                <section id="hidden_desktop" class="box-info lila_hintergrund container_media_padding">
                    <img src="images/aktuelles/WilderGartenHerbst2m.jpg">
                </section>

            </section>
        </section>

    </section>

</main>
</body>
</html>