<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body class="background">

<div class="navigation"></div>

<main>
    <h1> Saatgut-Automaten</h1>
    <h2>
        Hier findet ihr alle Infos zu unseren Saatgut-Automaten in Roßdorf & Gundernhausen
        <br>
        <br>
    </h2>

    <section class="oranger_hintergrund">
        <br>
        <section class="box oranger_hintergrund">

            <section class="box-info blauer_hintergrund">
                <h2>Flora
                    <br>
                    <br>
                </h2>
                <p>Darmstädter Str. 29, Roßdorf
                    <br>
                    <br>
                </p>
                <section class="container_media_corners">
                    <img src="images/automaten/FloraFauna.png">
                </section>


                <p><a class="bunt" target="_blank" href="images/automaten/FloraFauna1.pdf">Flyer Flora & Fauna Seite 1</a></p>
                <p><a class="bunt" target="_blank" href="images/automaten/FloraFauna2.pdf">Flyer Flora & Fauna Seite 2</a></p>

            </section>

            <section class="box-info blauer_hintergrund">
                <h2>Fauna
                    <br>
                    <br>
                </h2>
                <p>
                    Thüringer Str. 3, Roßdorf
                    <br>
                    <br>
                </p>
                <section class="container_media_corners">
                    <img src="images/automaten/FloraFauna.png">
                </section>


                <p><a class="bunt" target="_blank" href="images/automaten/FloraFauna1.pdf">Flyer Flora & Fauna Seite 1</a></p>
                <p><a class="bunt" target="_blank" href="images/automaten/FloraFauna2.pdf">Flyer Flora & Fauna Seite 2</a></p>
            </section>

        </section>

        <section class="box oranger_hintergrund">

            <section class="box-info blauer_hintergrund">
                <h2>Florian
                    <br>
                    <br>
                </h2>
                <p>
                    Darmstädter Str. 44, Roßdorf
                    <br>
                    <br>
                </p>
                <section class="container_media_corners">
                    <img src="images/automaten/Florian.png">
                </section>


                <p><a class="bunt" target="_blank" href="images/automaten/Florian1.pdf">Florian Seite 1</a></p>
                <p><a class="bunt" target="_blank" href="images/automaten/Florian2.pdf">Florian Seite 2</a></p>
            </section>

            <section class="box-info blauer_hintergrund">
                <h2>Florentine
                    <br>
                    <br>
                </h2>
                <p>
                    Hauptstraße 96a, Gundernhausen
                    <br>
                    <br>
                </p>
                <section class="container_media_corners">
                    <img src="images/automaten/Florentine.png">
                </section>


                <p><a class="bunt" target="_blank" href="images/automaten/Florentine1.pdf">Florentine Seite 1</a></p>
                <p><a class="bunt" target="_blank" href="images/automaten/Florentine2.pdf">Florentine Seite 2</a></p>
            </section>


        </section>
    </section>


</main>
</body>
</html>