<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });

    </script>
</head>

<body>

<div class="navigation"></div>

<main>
    <h1>Über uns</h1>

    <section class="box">
        <section class="box-50 container_contact container_media_padding">
            <img src="images/kathrinUndKatrin.jpg">

            <p id="podcast"><br> Wir sind Kathrin (links) und Katrin (rechts). Kathrin hat die blühenden Ideen und Katrin
                hat die technischen Skills. Mehr von uns könnt ihr in unserem Erkläraudio hören :)</p>
            <br>
            <audio  controls>
                <source src="erklaerAudio.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </section>

    </section>


    <section class="box">
        <section class="box-50 container_contact">
            <div>
                <p><i class="fa fa-user" aria-hidden="true"></i>
                    <span> Organisatoren: </span></p>
                <p> Kathrin Larivi&egrave;re & Katrin Rose </p>
            </div>

            <div>
                <p><i class="fa fa-envelope" aria-hidden="true"></i>
                    <span> E-Mail: </span></p>
                <p> info@rossdorf-blueht-auf.de </p>
            </div>

            <div>
                <p><i class="fa fa-linux" aria-hidden="true"></i>
                    <span> Webmaster: </span></p>
                <p> Katrin Rose </p>
            </div>

            <div>
                <p><i class="fa fa-server" aria-hidden="true"></i>
                    <span> Sponsor: </span></p>
                <p><a href="https://www.objectix.de/" target="_blank"> <img src="images/objectix-logo.png"></a></p>
            </div>
        </section>
    </section>

    <section class="box">
        <section class="text-unten">
            <p>
                <i id="hidden_mobile" class="fa fa-info-circle" aria-hidden="true"></i> Dies ist eine private Initiative
                zum Erhalt
                der
                Artenvielfalt. Diese Webseite wird nicht für kommerzielle Zwecke
                genutzt. Wir nutzen
                keine Cookies und erstellen keine Statistiken (außer anonymen Blühpunkten ;).</p>
        </section>
    </section>
</main>


</body>
</html>