<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body class="background">

<div class="navigation"></div>

<main>
    <h1> Infos</h1>

    <section class="box">
        <section class="box-info">
            <h2>Was kann ich tun?</h2>
            <br>
            <p> Jeder von uns kann einen - oder auch mehrere Beiträge zum Erhalt der Artenvielfalt leisten.
                Damit es unseren Insekten gut geht kannst du folgendes tun:
                <!--                Tipps für insektenfreundliche Gärten und Balkone:-->
            </p>
            <ul class="with-dots">
                <!--                <li>Blühflächen satt Grünflächen</li>-->
                <li>bunte Vielfalt und heimische Wildblumen</li>
                <!--           tooltip     <li>um Nahrung zu bieten sollten die Blüten gefüllt sein</li>-->
                <!--                <li>Blütenpracht rund ums Jahr</li>-->
                <!--                <li>mehrjährige hybridfreie Blühpflanzen/Stauden</li>-->
                <li>Wilde Ecken im Garten zu lassen</li>
                <li>Wasserstellen für Bienen & Insekten</li>
                <!--                <li>Grün auf`s Dach</li>-->
                <li>artgerechte Nisthilfen für Wildbienen</li>
                <li>keine Pesitizide im eigenen Garten benutzen</li>
                <li>Lebensmittel aus ökologischem Anbau kaufen</li>
                <!--                kein torf: Torf wird aus dem Moor gewonnen und sollte generell als Gartenerde gemieden werden-->
                <li>Tu gutes und sprich drüber ;)</li>
            </ul>
        </section>

        <section class="box-info">
            <h2>Heimisches Saatgut I</h2>
            <br>
            <p>
                <span class="bold">Auf was muss ich achten? </span>
                <br>
                <br>
                Gebietsheimisches Saatgut kannst du nur bei einem zertifizierten Wildblumenfachmann
                kaufen. Nur damit wird naturnahe Begrünung mit gebietseigenem Saatgut ermöglicht.
                Es ist unbedingt auf die Qualität der Ansaaten zu achten -
                insbesondere auf eine ausgewogene Artenzusammensetzung.
                <br>
                <br>
                Ohne zusätzliche Neuansaaten mit
                artenreichen, ausgewogenen Mischungen ist das Artensterben von z.T. auf einzelne Pflanzenfamilien
                spezialisierten Insekten nicht mehr aufzuhalten.
                <!--                Damit verbunden: Ein hoher-->
                <!--                Verlust an Bestäuberleistung durch die Insekten und somit auch der Ernährungssicherung für den Menschen.-->

            </p>

        </section>

        <section class="box-info">
            <h2>Heimisches Saatgut II</h2>
            <br>
            <p><span class="bold"> Wo kann ich heimisches Saatgut kaufen?</span>
                <br>
                <br> Vor Ort in kleinen Mengen z.B. hier:</p>
            <ul class="with-dots">
                <li>Saatgutautomat Flora, Darmstädter Str. 29</li>
                <li>Saatgutautomat Fauna, Thüringer Str. 3</li>
            </ul>
            <p>Größere Mengen gibt es z.B. hier:</p>
            <ul class="with-dots">
                <!--                (toller Erklärfilm auf ihrer Seite)-->
                <li><a class="color" href="https://www.rieger-hofmann.de" target="_blank">Rieger-Hofmann</a></li>
                <li><a class="color" href="https://www.appelswilde.de" target="_blank">Appelswilde</a></li>
                <li><a class="color" href="https://www.bingenheimersaatgut.de" target="_blank">bingenheimersaatgut</a>
                </li>
                <li><a class="color" href="https://www.gaertnerei-strickler.de" target="_blank">Gärtnerrei Strickler</a>
                </li>
            </ul>
        </section>


    </section>

    <section class="box">

        <!--        <section class="box-info">-->
        <!--            <h2>Heimisches Saatgut II</h2>-->
        <!--            <br>-->
        <!--            <p> Wichtige Bienenpflanzen: </p>-->
        <!--            <ul class="with-dots">-->
        <!--                <li>heimische Blühgehöze</li>-->
        <!--                <li>Frühblüher</li>-->
        <!--                <li>Zwiebelblumen</li>-->
        <!--                <li>Wildstauden</li>-->
        <!--                <li>Kräuter</li>-->
        <!--                <li>Wiesenblumen</li>-->
        <!--                <li>Kreuzblüttler</li>-->
        <!--            </ul>-->
        <!--        </section>-->

        <br>
        <section class="box-info">
            <h2> Wie und wann sollte man das heimische Saatgut aussähen? </h2>


            <ul class="with-dots">
                <li>Wir empfehlen bei Frühjahrsansaat die Monate März bis Mai.</li>
                <li>Eine Spätsommeransaat von Mitte August bis
                    Anfang September bietet Vorteile für Kaltkeimer.
                </li>
                <li>
                    Vorzugsweise sollte vor angekündigten Niederschlägen gesät
                    werden, denn Samen von Wildarten benötigen mindestens 4-5 Wochen durchgehende Feuchtigkeit, um
                    optimal
                    quellen und zur Keimung gelangen zu können.
                </li>
                <li>Das Saatgut muss obenauf gesät und darf nicht eingearbeitet
                    werden. Das unbedingt notwendige Anwalzen der Ansaat sorgt für den benötigten Bodenschluss und eine
                    gleichmäßige Keimung des Saatguts.
                </li>
            </ul>
        </section>

    </section>

    <section class="box">

        <section class="box-info">
            <h2>Links</h2>
            <br>
            <p> Auch im Internet gibt es jede Menge tolle Seiten mit vielen weiteren Tipps und Infos. Hier eine
                Auswahl. </p>
            <ul class="with-dots">
                <li><a class="color" href="https://www.tausende-gaerten.de" target="_blank">Tausende Gärten</a></li>
                <li><a class="color" href="https://www.bluehende-landschaft.de" target="_blank">Blühende Landschaft</a>
                </li>
                <li><a class="color" href="https://www.NABU.de/wildpflanzen" target="_blank">NABU: Wildpflanzen</a></li>
                <li><a class="color" href="https://www.NABU.de/saatgut" target="_blank">NABU: Saatgut</a></li>
                <li><a class="color" href="https://www.NABU.de/gartenvielfalt" target="_blank">NABU: Gartenvielfalt</a>
                </li>
                <li><a class="color" href="https://www.naturgarten.org" target="_blank">Naturgarten</a></li>
                <li><a class="color" href="https://www.wir-tun-was-fuer-bienen.de" target="_blank">Wir tun was für
                    Bienen</a></li>
                <li><a class="color" href="https://www.naturgartenfreude.de" target="_blank">Naturgartenfreunde</a></li>
            </ul>
        </section>


        <section class="box-info">
            <h2>Buchtipps</h2>
            <br>
            <p> Hier eine Auswahl an interessanten und spannenden Büchern: </p>
            <ul class="with-dots">
                <li>"Die Insektenwiese: So summt & brummt es garantiert!" von Ernst Rieger
                </li>
                <li>"Bienen retten - Wildbienenfreundliche Projekte für Balkon,
                    Terrasse und Garten" von Sebastian Hopfenmüller & Eva Stangler (Autor)
                </li>
                <li>"Mehr Natur im Garten - Einfache Projekte mit großer Wirkung für lebendige Vielfalt" von Markus
                    Gastl
                </li>
                <li>"Über Leben: Zukunftsfrage Artensterben: Wie wir die Ökokrise überwinden" von Dirk Steffens und
                    Fritz Habekuß
                </li>
            </ul>
        </section>

    </section>

</main>
</body>
</html>