<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body class="background">

<div class="navigation"></div>

<main>
    <h1> Infos</h1>

    <section class="box">
        <section class="box-info">
            <h2>Was kann ich tun?</h2>
            <p class="boldAndPadding"> Jeder von uns kann einen - oder auch mehrere Beiträge zum
                Erhalt der Artenvielfalt leisten.</p>
            <p> Damit es unseren Insekten gut geht kannst du folgendes tun:
            </p>
            <ul class="with-dots">
                <li>bunte Vielfalt und heimische Wildblumen</li>
                <li>Wilde Ecken im Garten zu lassen</li>
                <li>Wasserstellen für Bienen & Insekten</li>
                <li>artgerechte Nisthilfen für Wildbienen</li>
                <li>keine Pesitizide im eigenen Garten benutzen</li>
                <li>Lebensmittel aus ökologischem Anbau kaufen</li>
                <li>Tu gutes und sprich drüber ;)</li>
            </ul>
        </section>

        <section class="box-info">
            <h2>Heimisches Saatgut I</h2>
            <p class="boldAndPadding">Auf was muss ich achten? </p>
            <p>
                Gebietsheimisches Saatgut kannst du nur bei einem zertifizierten Wildblumenfachmann
                kaufen. Nur damit wird naturnahe Begrünung mit gebietseigenem Saatgut ermöglicht.
                Es ist unbedingt auf die Qualität der Ansaaten zu achten -
                insbesondere auf eine ausgewogene Artenzusammensetzung.
                <br>
                <br>
                Ohne zusätzliche Neuansaaten mit
                artenreichen, ausgewogenen Mischungen ist das Artensterben von z.T. auf einzelne Pflanzenfamilien
                spezialisierten Insekten nicht mehr aufzuhalten.
            </p>

        </section>

        <section class="box-info">
            <h2>Heimisches Saatgut II</h2>
            <p class="boldAndPadding"> Wo kann ich heimisches Saatgut kaufen?</p>

            <p> Vor Ort in kleinen Mengen in unseren Saatgutautomaten:</p>
            <ul class="with-dots">
                <li> Flora: Darmstädter Str. 29, Roßdorf</li>
                <li> Florian: Darmstädter Str. 44, Roßdorf</li>
                <li> Fauna: Thüringer Str. 3, Roßdorf</li>
                <li> Florentine: Hauptstraße 96a, Gundernhausen</li>
            </ul>
            <p>Größere Mengen gibt es z.B. hier:</p>
            <ul class="with-dots">
                <li><a class="color" href="https://www.rieger-hofmann.de" target="_blank">Rieger-Hofmann</a></li>
                <li><a class="color" href="https://www.appelswilde.de" target="_blank">Appelswilde</a></li>
                <li><a class="color" href="https://www.bingenheimersaatgut.de" target="_blank">bingenheimersaatgut</a>
                </li>
                <li><a class="color" href="https://www.gaertnerei-strickler.de" target="_blank">Gärtnerrei Strickler</a>
                </li>
            </ul>
        </section>

    </section>

    <section class="box">

        <br>
        <section class="box-info">
            <h2> Wie und wann sollte man das heimische Saatgut aussähen? </h2>

            <ul class="with-dots">
                <li>Wir empfehlen bei Frühjahrsansaat die Monate März bis Mai.</li>
                <li>Eine Spätsommeransaat von Mitte August bis
                    Anfang September bietet Vorteile für Kaltkeimer.
                </li>
                <li>
                    Vorzugsweise sollte vor angekündigten Niederschlägen gesät
                    werden, denn Samen von Wildarten benötigen mindestens 4-5 Wochen durchgehende Feuchtigkeit, um
                    optimal
                    quellen und zur Keimung gelangen zu können.
                </li>
                <li>Das Saatgut muss obenauf gesät und darf nicht eingearbeitet
                    werden. Das unbedingt notwendige Anwalzen der Ansaat sorgt für den benötigten Bodenschluss und eine
                    gleichmäßige Keimung des Saatguts.
                </li>
                <li>
                    Eine ausführliche Anleitung gibt es bei
                    <a class="color"
                       href="https://www.rieger-hofmann.de/alles-ueber-rieger-hofmann/downloads.html"
                       target="_blank">
                        Rieger-Hofmann</a> (Ansaat von Blumen in bestehende Wiesenflächen)
                </li>
            </ul>
        </section>

    </section>

    <section class="box">

        <section class="box-info">
            <h2> Was ist mit meinen Nachbarn?
                <br><br>
            </h2>

            <p>
                Immer wieder kommt es zu Problemen, wenn Laub, Samen, Pollen und dergleichen vom Nachbarsgarten
                über
                den Zaun wehen und Beeinträchtigungen verursachen. Auch die Gerichte haben sich schon mit
                vielfältigen Klagen zu diesem Thema beschäftigt und sind zu einem einstimmigen Urteil gekommen:
                Laub- und Samenflug sind grundsätzlich hinzunehmen, insofern dieser ortsüblich ist. Rechtlich
                gesehen greift hier der Paragraph §906 im BGB, der sich mit der Zuführung unwägbarer Stoffe
                befasst.
                <span class="bold">  Da Bäume, Sträucher, Gräser usw. der allgemeinen Wohlfahrt dienen und ihre Emissionen natürlich
                    verursacht werden, gibt es keine Handhabe dies zu verbieten oder Schadensersatz zu fordern.</span>

            </p>
        </section>
        <section class="box-info">
            <p>
                Ausnahmen gibt es nur in extremen Fällen. Solche Ausnahmefälle können z.B. Ambrosia, aufgrund
                seiner
                hohen allergischen Wirkung, oder ein Brennnessel-Meer sein. Liegt kein solcher Ausnahmefall vor,
                kann keine Beseitigung gefordert werden. Auch eine verstopfte Regenrinne oder eine
                Wildblumenwiese,
                mit einhergehendem erhöhten Samenflug und Insektenaufkommen, gelten im Übrigen nicht als
                Ausnahmefall.
                <br>
                <br>
                <span class="bold">Es ist daher ratsam sich abzufinden und stattdessen die Natur um sich herum in vollen Zügen zu
                        genießen.</span>
                <br>
                <br>
                Bei weiteren Fragen könnt ihr euch gerne ans Umweltamt unter 06154/808-205 oder
                umweltamt@rossdorf.de wenden. Von dort kommt auch diese Info hier, vielen Dank!
            </p>
        </section>
    </section>


    <section class="box">

        <section class="box-info">
            <h2> Wann und wie soll ich die Blühwiese mähen?
                <br><br>
            </h2>

            <p>
                Ende Mai bis Mitte Juni wird es Zeit für die erste Mahd der Blumenwiesen, auch wenn sie jetzt so schön
                blühen.
                <br><br>
                Am artenreichsten bleiben Wiesen durch eine 1-3 malige Mahd pro Jahr. Werden sie seltener gemäht, geht
                Vielfalt ebenso verloren wie durch Düngung und höhere Schnitthäufigkeit.
                <br><br>
                Artenreiche Wiesen sind durch die frühere traditionelle Nutzung entstanden.
                <span class="bold">
                Nach dem Winter mähten die
                Bauern ab Mitte Mai Wiesen zur täglichen Fütterung ihrer Tiere.</span>

                Bei zweischürigen Wiesen lag der 1.
                Schnitt in der Regel nicht später als an Johanni (24. Juni).
                <span class="bold">
                    Dann gab es noch einen weiteren Schnitt im
                Spätsommer.</span>
                <br><br>
                Möchten auch wir heute einen langen Blütensommer haben, müssen wir uns den alten Wirtschaftsweisen der
                Bauern annähern:
                <span class="bold">
                    Abschnittsweises Mähen in der Fläche sorgt dafür, dass die Tierwelt der Wiese nicht auf
                einen Schlag Nahrungsgrundlage und Lebensraum verliert.
                </span>
                Bleibt das Mahdgut zudem noch einige Tage zum
                Trocknen auf der Fläche, können die tierischen Wiesenbesucher (Falter, Bienen und allerlei andere
                Insekten) in die noch ungemähten Flächen übersiedeln.
                <br><br>
                Ein früher Schnitt ist umso wichtiger, je nährstoffreicher der Standort ist. Gräserbetonte Wiesen an
                nährstoffreichen Standorten bilden im Frühsommer einen enormen Massenwuchs.
                <span class="bold">
                Mit einem frühen Schnitt
                zwischen Ende Mai und Mitte Juni (inkl. Abfuhr des Mahdguts) nehmen wir den Gräsern viel von ihrem Wuchs
                    und sorgen für ausreichend Licht auch für konkurrenzschwächere Blumen in der Wiese.
                </span>
                Diese bilden im
                Laufe des Sommers einen neuen Blütenstand, der oft erst im Spätsommer reift. Hierzu sollen wir ihnen
                ausreichend Zeit lassen,
                <span class="bold"> so dass der zweite Schnitt erst Anfang bis Mitte September liegen soll.
                    </span>
                Die Samen dieser späten Blüten reichen aus, um die Arten der Wiese zu erhalten.
                <br><br>
                Diese Grundregeln für die Wiesenmahd können für kleine Wiesen im Garten individuell angepasst und
                variiert werden, so dass immer auch Blüten stehen bleiben, die uns Menschen und auch die Tierwelt
                erfreuen. Unser Tipp: einfach ausprobieren und eigene Erfahrungen sammeln.
                <br><br>
                Vielen Dank ans Landschaftsbüro Pirkl-Riedel-Theurer für diese Information!
            </p>
        </section>

    </section>

    <section class="box">

        <section class="box-info">
            <h2>Links</h2>
            <p class="padding"> Auch im Internet gibt es jede Menge tolle Seiten mit vielen weiteren Tipps und Infos.
                Hier eine
                Auswahl. </p>
            <ul class="with-dots">
                <li><a class="color" href="https://www.tausende-gaerten.de" target="_blank">Tausende Gärten</a></li>
                <li><a class="color" href="https://www.bluehende-landschaft.de" target="_blank">Blühende Landschaft</a>
                </li>
                <li><a class="color" href="https://www.NABU.de/wildpflanzen" target="_blank">NABU: Wildpflanzen</a></li>
                <li><a class="color" href="https://www.NABU.de/saatgut" target="_blank">NABU: Saatgut</a></li>
                <li><a class="color" href="https://www.NABU.de/gartenvielfalt" target="_blank">NABU: Gartenvielfalt</a>
                </li>
                <li><a class="color" href="https://www.naturgarten.org" target="_blank">Naturgarten</a></li>
                <li><a class="color" href="https://www.wir-tun-was-fuer-bienen.de" target="_blank">Wir tun was für
                    Bienen</a></li>
                <li><a class="color" href="https://www.naturgartenfreude.de" target="_blank">Naturgartenfreunde</a></li>
            </ul>
        </section>


        <section class="box-info">
            <h2>Buchtipps</h2>
            <p class="padding"> Hier eine Auswahl an interessanten und spannenden Büchern: </p>
            <ul class="with-dots">
                <li>"Die Insektenwiese: So summt & brummt es garantiert!" von Ernst Rieger
                </li>
                <li>"Bienen retten - Wildbienenfreundliche Projekte für Balkon,
                    Terrasse und Garten" von Sebastian Hopfenmüller & Eva Stangler (Autor)
                </li>
                <li>"Mehr Natur im Garten - Einfache Projekte mit großer Wirkung für lebendige Vielfalt" von Markus
                    Gastl
                </li>
                <li>"Über Leben: Zukunftsfrage Artensterben: Wie wir die Ökokrise überwinden" von Dirk Steffens und
                    Fritz Habekuß
                </li>
            </ul>
        </section>

    </section>

</main>
</body>
</html>