<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
            $(function(){
             $('.navigation').load("navigation");
             });

    <!--   console.log("menu aendern");-->
    <!--   var loginItem = document.getElementById("login");-->
    <!--   var logoutItem = document.getElementById("logout");-->
    <!--   loginItem.style.display="none";-->
    <!--   logoutItem.style.display="block";-->

    </script>
</head>

<body>

<div class="navigation"></div>

<main>
    <h1>Anmelden</h1>
    <h2>... oder Registrieren</h2>

    <section class="box">

        <!--ANMELDEN-->
        <section class="box-50">
            <section class="inner-box">
                <form name="f" th:action="@{/login}" method="post">
                    <fieldset>
                        <div th:if="${param.error}" class="alert alert-error">
                            Invalid username and password.
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>

                        <div>
                            <label for="username">Benutzername</label>
                            <input class="form-input-field" type="text" id="username" name="username"/>
                        </div>

                        <div>
                            <label for="password">Passwort</label>
                            <input class="form-input-field" type="password" id="password" name="password"/>
                        </div>

                        <button class="form-submit-button orange-button" type="submit">Anmelden</button>
                    </fieldset>

                </form>
                <br>
                <br>
                <p>Wenn du dich für heute abmelden möchtest, klicke auf Abmelden.
                    Wenn du deine Registrierung löschen möchtest schreib an info@rossdorf-blueht-auf.de</p>
                <form name="f" th:action="@{/logout}" method="post">
                    <fieldset>
                        <button class="form-submit-button blue-button" type="submit">Abmelden</button>
                    </fieldset>

                </form>
            </section>
        </section>

        <!--REGISTRIEREN-->
        <!--ANMELDEN-->
        <section class="box-50">
            <form method="POST"
                  th:action="@{/registerNewUser}"
                  th:object="${user}">
                <fieldset>
                    <div th:replace="fragments/input :: input('text','Vorname', 'firstname')"/>
                    <div th:replace="fragments/input :: input('text','Nachname', 'lastname')"/>
                    <div th:replace="fragments/input :: input('text','Email', 'email')"/>
                    <div th:replace="fragments/input :: input('text','Benutzername', 'username')"/>
                    <div th:replace="fragments/input :: input('password','Passwort', 'password')"/>
                    <br/>
                    <div class="form-row">
                        <button class="form-submit-button lila-button" type="submit">Registrieren</button>
                    </div>
                </fieldset>
            </form>
        </section>
    </section>

    <section class="box">
        <section class="text-unten">
            <p><i class="fa fa-info-circle" aria-hidden="true"></i> Hinweis: Dies ist eine private Initiative zum Erhalt
                der
                Artenvielfalt. Diese Webseite wird nicht für kommerzielle Zwecke
                genutzt. Wir geben eure Daten nicht weiter. Falls ihr
                bei der Biotopvernetzung mitmacht, so werden eure Blühpunkte anonym auf der Karte angezeigt. Wir nutzen
                keine Cookies und erstellen keine anderen Statistiken.
            </p>
        </section>
    </section>
</main>


</body>
</html>