<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="map/ol.css"/>
    <link rel="stylesheet" href="map/map.css"/>
    <script src="map/ol.js"></script>
    <script src="map/map.js"></script>
</head>

<body>
<h1>Rossdorf blueht auf</h1>

<!--todo:wie im tracker: die felder aus dem model fuellen!-->
<form id="coordinates" method="POST" th:action="@{/addNewBluehEvent}" th:object="${newBlueLocation}">
    <div>
        Name: <input id="name" th:field="*{name}"/>
        Latidude (49.8...): <input id="lat" type="text" name="latitude" />
<!--        Latidude (49.8...): <input th:field="*{latitude}"/>-->
        Longitude (8.7...): <input id="lon" th:field="*{longitude}"/>
        <input type="submit" value="auf Karte anzeigen">
        <input id="saveButton" th:formaction="@{/saveNewBluehEvent}" type="submit" value="speichern">
    </div>
</form>

<div id="msg">Bitte die Koordinaten eingeben. Erst anzeigen, wenn richtig, dann speichern. </div>

<div id="map"></div>

<!--script fuer map kann erst nach map div ausgefuehrt werden!-->
<script th:inline="javascript">
   // die variablen aus java holen
         var list=/*[[${blueEvents}]]*/ [];
         var showNewLocation = /*[[${showNewLocation}]]*/;
         var errorMsg = /*[[${error}]]*/;

    // und jetzt java script in map aufrufen, wird gefunden, nix davor ist ok
        initialize_map(list, showNewLocation, errorMsg);
</script>
</body>
</html>