<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="map/ol.css"/>
<!--    todo: style.css als map.css in map ordner/-->
    <link rel="stylesheet" href="style.css"/>
    <script src="map/ol.js"></script>
    <script src="map/map.js"></script>
</head>

<body>
<h1>Rossdorf blueht auf</h1>

<form id="coordinates" method="POST" th:action="@{/addNewBluehEvent}" th:object="${newBlueLocation}">
    <div>
        Name: <input th:field="*{name}"/>
        Latidude (49.8...): <input th:field="*{latitude}"/>
        Longitude (8.7...): <input th:field="*{longitude}"/>
        <button type="submit">auf Karte anzeigen</button>
    </div>
</form>

<div id="map"></div>

<!--das hier togglen oder als pop up anzeigen,
 gleiches fuer eine erfolgreiche hinzufuegung,
 dort dann noch ein button: uebernehmen oder aendern-->
<div id="error">
    <p>Ups, etwas ist schief gegangen. Sind die Koordinaten richtig?
        <a href="#coordinates">Nochmal versuchen</a></p>
</div>

<!--script fuer map kann erst nach map div ausgefuehrt werden!-->
<script th:inline="javascript">
   // die variablen aus java holen
         var list=/*[[${blueEvents}]]*/ [];
         var showNewLocation = /*[[${showNewLocation}]]*/;
    // und jetzt java script in map aufrufen, wird gefunden, nix davor ist ok
        initialize_map(list, showNewLocation);

</script>
</body>
</html>