<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Roßdorf blüht auf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="map/ol.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lakki+Reddy">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="map/ol.js"></script>
    <script src="map/mapUI.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>

<body>

<div class="navigation"></div>

<main>
<h1>Biotopvernetzung - Mitmachen</h1>
<h2>Trage einen Blühpunkte für Roßdorf/Gundernhausen ein</h2>


<section class="box">

    <section class="box-70">
        <div class="map">
            <div id="map"></div>
        </div>

    </section>

    <section class="box-30">

        <p>Um einen neuen Punkt auf der Karte hinzu zufügen hast du zwei Möglichkeiten:</p>
        <br>

        <form id="address" method="POST" th:action="@{/biotopvernetzungUI/newBluehEventAddress}">
            <div>
                <p>Adresse <label class="tooltip"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    <input type="checkbox"><span>Nur Strasse und Hausnr. Die Straße muss in Roßdorf sein. ZB Erbacher Str. 1</span></label>
                    eingeben:</p>
                <input class="form-input-field" id="addressInput" type="text" name="address"/>
                <input class="form-submit-button blue-button" type="submit" value="anzeigen">
            </div>
        </form>
        <br>

        <form id="coordinatesString" method="POST" th:action="@{/biotopvernetzungUI/newBluehEventCoordinatesStr}">
            <div>
                <p>Koordinaten <label class="tooltip"><i class="fa fa-info-circle" aria-hidden="true"></i><input
                        type="checkbox"><span>Die kannst du mit Rechtsklick von Google Maps kopieren. zB 49.86034, 8.77216</span></label>
                    eingeben:
                </p>
                <input class="form-input-field" id="coordinatesInput" type="text" name="coordinates"/>
                <input class="form-submit-button orange-button" type="submit" value="anzeigen">
            </div>
        </form>

           <br>

        <form id="save" method="POST" th:action="@{/biotopvernetzungUI/saveNewBluehEvent}"
              th:object="${newGeoLocation}">
            <div>
                <p id="errormsg"></p>
                <p>Der neue Punkt wird als blauer Punkt angezeigt. Wenn er in Roßdorf liegt und du zufrieden bist kannst du ihn speichern. Oder die
                    Adresse bzw. Koordinaten anpassen und nochmal neu anzeigen lassen.</p>
                <input id="saveButton" class="form-submit-button" type="submit" value="speichern" disabled="disabled">
            </div>
        </form>

    </section>


</section>
</main>

<!--script fuer map kann erst nach map div ausgefuehrt werden!-->
<script th:inline="javascript">
   // die variablen aus java holen
         var list=/*[[${blueEvents}]]*/ [];
         var showNewLocation = /*[[${showNewLocation}]]*/;
         var coordinatesString = /*[[${coordinatesString}]]*/;
         var address = /*[[${address}]]*/;
         var errorMsg = /*[[${error}]]*/;

    // und jetzt java script in map aufrufen, wird gefunden, nix davor ist ok
        initialize_map(list, showNewLocation, coordinatesString, address, errorMsg);

</script>
</body>
</html>