
<!-- Navigation -->
<!--- HEADER  -->
<header role="heading">
    <a class="logo" href="/">Roßdorf blüht auf</a>
    <nav>
        <!-- DESKTOP VERSION -->
        <ul id="hidden_mobile">
            <li><a href="/biotopvernetzung">Biotopvernetzung</a></li>
            <li><a href="/aktuelles">Aktuelles</a></li>
            <li><a href="/aktionen">Aktionen</a></li>
            <li><a href="/info">Infos</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/login">An/Abmelden</a></li>
            <li><a href="/contact">Über uns</a></li>
        </ul>

        <!-- MOBILE VERSION-->
        <i id="hidden_desktop"  class="menu_button fa fa-bars  fa-2x" aria-hidden="true"></i>
        <ul id="hidden_desktop" class="menu_items hidden">
            <li><a href="/biotopvernetzung">Biotopvernetzung</a></li>
            <li><a href="/aktuelles">Aktuelles</a></li>
            <li><a href="/aktionen">Aktionen</a></li>
            <li><a href="/info">Infos</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/login">An/Abmelden</a></li>
            <li><a href="/contact">Über uns</a></li>
        </ul>
    </nav>
</header>
<script src="main.js"></script>

