
<!-- Navigation -->
<!--- HEADER  -->
<header role="heading">
    <a class="logo" href="/">Roßdorf blüht auf</a>
    <nav>
        <!-- DESKTOP VERSION -->
        <ul id="hidden_mobile">
            <li><a href="/biotopvernetzung">Biotopvernetzung</a></li>
            <li id="login"><a href="/login">Anmelden</a></li>
            <li id="logout"><a href="/logout">Abmelden</a></li>
        </ul>

        <!-- MOBILE VERSION  todo! die klappt noch nicht!!-->
        <i id="hidden_desktop"  class="menu_button fa fa-bars  fa-2x" aria-hidden="true"></i>
        <ul id="hidden_desktop" class="menu_items hidden">
            <li id="login"><a href="/biotopvernetzung">Biotopvernetzung</a></li>
            <li id="logout"><a href="/login">Anmelden</a></li>
        </ul>
    </nav>
</header>

