<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrieren</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
         $('.navigation').load("navigation");
         });
    </script>
</head>
<body>
<div class="navigation"></div>

<div class="container">
    <br>
    <h1>Registrier dich um mitmachen zu können!</h1>
    <form method="POST"
          th:action="@{/registerNewUser}"
          th:object="${user}">
        <div th:replace="fragments/input :: input('text','Vorname', 'firstname')"/>
        <div th:replace="fragments/input :: input('text','Nachname', 'lastname')"/>
        <div th:replace="fragments/input :: input('text','Email', 'email')"/>
        <div th:replace="fragments/input :: input('text','Benutzername', 'username')"/>
        <div th:replace="fragments/input :: input('password','Passwort', 'password')"/>
        <br/>
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
</div>
</body>
</html>